@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;800&display=swap');

body {
  overflow-y: hidden;
  font-family: Inter, Verdana, Geneva, Tahoma, sans-serif!important;
  width: auto;
}

/* a:link {}
a:visited {}
a:hover {}
a:active {} */

.App-logo {
  height: 10vh;
  width: auto;
  fill: black;
  pointer-events: none;
  margin: 2em 0px;
}


.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  color: rgb(44, 44, 44);
  background-color: #FFF;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  width: 60vh;
}

.container > div {
  height: 120px;
  width: auto;
  padding: 10px;
  margin: 20px 20px;
  /* border: solid 3px red; */
}

.title-hype {
  text-transform: uppercase;
  line-height: 1.4285em;
  font: var(--font-xl);

  margin: 30px 0;
  width: 50px;
}

.connect-page {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}
.connect-page > div {
  padding: 10px;
  margin-bottom: 10px;
}

/* Login and Signup Animation */
.wslide {
  align-items: center;
  justify-content: center;
  padding: 0;
}
.wslide {
  width: 9ch;
  animation: typing 2s steps(16), blink .5s infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  -webkit-animation: typing 2s steps(16), blink .5s infinite alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* .wslide:after{
  content: 'Dialogues';
  color: #0e8c8c;
  animation-name: switch-title;
  animation-direction: alternate-reverse;
  animation-delay: 100ms;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes switch-title {
  0% {color: #0e8c8c; opacity:0.5;}

  50% {color: #0e8c8c; opacity:1; content: 'Discussions'}

  80% {color: #0e8c8c; opacity:1; content: 'Chat'}

  100% {color: #0e8c8c;opacity:1; content: 'Groupes'}
} */

.signup a, .login a {
  font-weight: 600;
  color: white;
  background-color: var(--primary-color);
  font: var(--font-lg);
  border-radius: 25px;
  padding: var(--button-padding);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.signup a:hover, .login a:hover {
  transition-duration: 200ms;
  transition-property: background-color, border;
  transition-timing-function: ease-in-out;
  background-color: var(--secondary-button);
  color: white;
}

@media only screen and (max-width: 600px) {
  .container {
    height: auto;
    max-width: 100%;
  }
  .container div {
    height: auto;
    max-width: 90%;
  }
}

@media only screen and (max-width: 300px) {
  .App-logo img {
    height: auto;
    max-width: 100%;
  }
}

