.App {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  overflow-y: hidden;
}

a:link {}
a:visited {}
a:hover {}
a:active {}

.App-logo {
  height: 6vh;
  pointer-events: none;
  margin-bottom: 15px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo infinite 20s linear;
    -webkit-animation: App-logo infinite 20s linear;
  }
}

.App-header {
  background-color: #333333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header p {
  color: white;
}

.App-link {
  color: #61dafb;
}

.title-welcome {
  padding: 25px;
}
.connect-choice {
  display: flex;
  flex-direction: column;
  height: 16vh;
  margin-top: 30px;
  justify-content: space-between;
}

.signup a, .login a {
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  background-color: #ff4646;
  font-size: 16px;
  border: solid 3px #ff4646;
  border-radius: 25px;
  padding: 5px 30px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.signup a:hover, .login a:hover {
  transition-duration: 100ms;
  transition-property: background-color, border;
  transition-timing-function: ease-in-out;
  background-color: transparent;
  color: white;
}
.signup a:active, .login a:active {
  transition-duration: 100ms;
  transition-property: background-color, border;
  transition-timing-function: ease-in-out;
  background-color: rgb(70, 70, 70);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
